@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}

:root {
  --primary: #0077b6;
  --secondary: #48cae4;
  --tertiary: #90e0ef;
  --background: #f1f1f1;
  --text: #023047;
  --text-secondary: #555;
  --border: #ccc;
  --hover: #00b4d8;
  --error: #e63946;
  --success: #2a9d8f;
  --warning: #ffb703;
  --info: #219ebc;
  --background-light: #ffffff;
  --foreground-dark: #171717;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
