.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.75rem;
  padding-left: 2.5rem;
  background-color: #fff;
  border: 1.5px solid #b6c1d6;
  border-radius: 8px;
  color: #222;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input::placeholder {
  color: #a0aec0;
}

.input:focus {
  outline: none;
  border-color: #0a58ca;
  box-shadow: 0 0 0 2px #e3eaff;
  background: #fff;
}

.inputIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a0aec0;
}
